<%- include('template/cabezera.ejs')  %>
<form action="/admin/agregarCategoria" method="post">
    <section class="form-register2">
      <h4>agregar</h4>
      <br>
      <label for="nameCategoria">nombre</label>
      <input class="controls" type="text" name="nameCategoria" id="nameCategoria" required>
      <br>
      <input class="botons" type="submit" >
    </section>  
    </form>
