<%- include('template/cabezera2.ejs')  %>
<body>
  <body>
    <main>
      <div class="form-container">
        <h1>Bienvenido al área de administración</h1>
        <button>Cerrar sesión</button>
      </div>
    </main>
    <script src="admin.js" defer></script>


    <button type="submit" onclick="pagar()">pagar</button>
    <script src="script4.js" defer></script>
  </body>
 
  

