<%- include('template/cabezera.ejs')  %>
<body>
  <body>
    <form  action="/pago" method="post">
      <section class="form-register">
        <h4>regist</h4>
        <label for="amount">amount</label>
      <input class="controls" type="text" name="amount" id="">
      <label for="card">card</label>
      <input class="controls" type="text" name="card" id="">
      <label for="cvv">cvv</label>
      <input class="controls" type="cvv" name="cvv" id="">
      <label for="month">month</label>
      <input class="controls" type="text" name="month" id="">
      <label for="year">expiration-year</label>
      <input class="controls" type="text" name="year" id="">
      <label for="full">full-name</label>
      <input class="controls" type="text" name="full" id="">


      
      <label for="currency">currency</label>
      <input class="controls" type="text" name="currency" id="">
      <label for="description">description</label>
      <input class="controls" type="text" name="description" id="">
      <label for="reference"> reference</label>
      <input class="controls" type="text" name="reference" id="">
      <input class="botons" type="submit" >
  </section>
  </form>
    


<!--  
    <div class="pruruur">
        <h1>ad</h1>
    </div> 
    <div class="api1">
      <h1>io</h1>
  </div> 
  
    <button onclick="ads()">Cerrar sesión</button>
    <script src="script4.js"></script>-->
  </body>